html {
  font-size: 10pt;
}

a:hover {
  color: #00695c !important;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Navbar styling */
.landing__navbar {
  box-shadow: none !important;
  min-height: 50px;

  .landing-navbar__brand {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .landing-navbar__item {
    font-weight: lighter;
    font-size: 1.25rem;
  }

  .landing-navbar__dropdown-menu {
    right: 0 !important;
    left: auto !important;
    max-height: 15rem;
    overflow: scroll;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16), 1px 3px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .landing-navbar__animated-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00695c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .landing-navbar__animated-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .landing-navbar__animated-link.isOpen {
    border-bottom: 2px solid white;
  }

  a {
    color: white;
  }
}

.modal-frame {
  button {
    width: 150px;
  }
}

.modal-footer {
  button {
    min-width: 100px;
  }
}
