<!DOCTYPE html>
<html lang="en"><head>
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>Intertect</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
<nav class="navbar navbar-inverse" role="navigation" id="header" style="background-color:#428BCA;border:0px;border-radius:0px;display:none;">
  <div class="container col-sm-12">
    <div class="navbar-header col-sm-12">
      <button type="button" class="btn btn-success navbar-btn col-sm-3">
        <span class="glyphicon glyphicon-play"></span> Run
      </button>
      <button type="button" class="btn btn-info navbar-btn col-sm-4 col-sm-offset-1" onclick="executeStep()">
        <span class="glyphicon glyphicon-forward"></span> Step
      </button>
      <button type="button" class="btn btn-danger navbar-btn col-sm-3 col-sm-offset-1">
        <span class="glyphicon glyphicon-stop"></span> Stop
      </button>
    </div>
  </div>
</nav>

<div id="terminal"}></div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.9/typed.min.js"></script>

<script>
  /* function transitionToWorkspace() {
    var frameCount = 250;
    var id = setInterval(frame, 5);
    function frame() {
      if (frameCount == 0) {
        clearInterval(id);
        $("#terminal").css('display','none');
        $("#header").css('display','block');
        $("#header").addClass('animated fadeIn');
        $("#editor").css('display','inline');
        $("#editor").addClass('animated fadeIn');
      } else if (frameCount % 5 == 0 && frameCount <= 125) {
        $("#terminal")[0].style.left = frameCount / 5 + '%';
      }
      frameCount--;
    }
  }

  var currentStep = 1;
  function executeStep() {
    stepId = "#assembly_" + currentStep;
    currentStep++;
    newStepId = "#assembly_" + currentStep;

    $(stepId).css('background-color','#141414');
    $(newStepId).css('background-color','#ffa');
  } */
</script>
</body>
</html>
